@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tailwindcss";

@layer global, elements, components, utilities;



@layer elements {

    input {
        border-color: #b4b4b4;
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
    }

    input[data-error] {
        @apply border-red-600;
    }

    .errorMsg {
        @apply text-red-600;
    }

    input +.errorMsg {
        visibility: hidden;
    }


    input[data-error] +.errorMsg {
        visibility: visible;
    }


    textarea {
        border-style: solid;
        border-width: 1px;
        border-color: #b4b4b4;
        border-radius: 2px;
        margin-left:5px;

    }
    select {
        border-style: solid;
        border-width: 1px;
        border-color: #b4b4b4;
        border-radius: 2px;
        margin-left:5px;

    }
    label {
        margin-left:5px;
    }

    .sr-only {
        visibility: hidden;
    }



    textarea {
        resize: none;
    }
}