---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import LookupAddress from '../components/LookupAddressComponent.vue';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="max-w-6/10">
        <form>
            <fieldset>

                <div class="grid grid-cols-[75px_250px_350px]">

                    <div>
                        <label class="block" for="title">Title</label>
                        <select id="title">
                            <option value="" disabled selected></option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Ms">Ms</option>
                            <option value="Dr">Dr</option>
                        </select>
                    </div>
                    <div>
                        <label class="block" for="first_name">First Name</label>
                        <input type="text" id="first_name" class="w-[200px]" placeholder="First Name"/>
                    </div>

                    <div>
                        <label class="block" for="surname">Surname</label>
                        <input type="text" id="surname" class="w-[300px]" placeholder="Surname"/>
                    </div>
                </div>
                <div>
                    <LookupAddress client:load/>
                </div>
            </fieldset>
            <div>
                <fieldset>
                    <div class="ml-40">
                        <p> What level of involvement do you want?</p>
                        <input type="radio" id="follower" name="involvement" value="Follower"/>
                        <label for="follower">Follower (Unable to come to meetings but wants to be keep up to
                            date)</label><br>

                        <input type="radio" id="meeter" name="involvement" value="Meeter"/>
                        <label for="meeter">Meeter (Able to come to meetings)</label><br>

                        <input type="radio" id="activist" name="involvement" value="Activist"/>
                        <label for="activist">Activist (Wants to be involved in other ways)</label><br>
                    </div>

                    <label for="ways_to_help">Ways I can help</label>
                    <textarea id="ways_to_help" name="ways_to_help"/>

                    <br>
                    <div>
                        <label for="privacy">Please read the <a href="">privacy statement</a></label>
                        <input type="checkbox" id="privacy"/>
                    </div>
                    <br>
                </fieldset>
            </div>

        </form>
    </div>
</Layout>
