---
export const prerender = false
import Layout from '../layouts/Layout.astro';
import LookupAddress from '../components/LookupAddressComponent.vue';
import {actions, isInputError} from 'astro:actions';

const result = Astro.getActionResult(actions.register)
const inputErrors = isInputError(result?.error) ? result.error.fields : {}

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="max-w-6/10">
        <form method="POST" action={actions.register}>
            {result?.error && Object.keys(inputErrors).length === 0 && (<p>There was a problem processing your registration</p>)}
            <fieldset>

                <div class="grid grid-cols-[75px_250px_350px]">

                    <div>
                        <label class="block" for="email_address">Email Address</label>
                        <input type="text" id="email_address" name="email_address" class="w-[200px]" placeholder="Email Address"/>
                    </div>

                    <div>
                        <label class="block" for="title">Title</label>
                        <select id="title" name="title">
                            <option value="" disabled selected></option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Ms">Ms</option>
                            <option value="Dr">Dr</option>
                        </select>
                    </div>
                    <div>
                        <label class="block" for="first_name">First Name</label>
                        <input type="text" id="first_name" name="first_name" class="w-[200px]" placeholder="First Name"/>
                    </div>

                    <div>
                        <label class="block" for="surname">Surname</label>
                        <input type="text" id="surname" name="surname" class="w-[300px]" placeholder="Surname"/>
                    </div>
                </div>
                <div>
                    <LookupAddress client:load/>
                </div>

                <div>

                    <div class="ml-40">
                        <p> What level of involvement do you want?</p>
                        <input type="radio" id="follower" name="membership" value="Follower"/>
                        <label for="follower">Follower (I am unable to come to meetings but I want to be keep up to
                            date)</label><br>

                        <input type="radio" id="participant" name="membership" value="Participant"/>
                        <label for="participant">Meeter (I am able to come to village meetings)</label><br>

                        <input type="radio" id="activist" name="membership" value="Activist"/>
                        <label for="activist">Activist (I want to be involved in other ways)</label><br>
                    </div>

                    <label for="ways_to_help">Ways I can help</label>
                    <textarea id="ways_to_help" name="ways_to_help"/>

                    <br>
                    <div>
                        <label for="privacy_statement">I confirm that I have read the <a href="">privacy statement</a></label>
                        <input type="checkbox" id="privacy_statement" name="privacy_statement" value="false"/>
                    </div>
                    <br>
                    <label for="emai" class="sr-only">h0n3yp0t</label>
                    <input id="emai" type="text" name="emai" class="sr-only" tabindex="-1" />

                </div>

                <button type="submit">Submit</button>
                <button type="reset">Cancel</button>
            </fieldset>
        </form>
    </div>
</Layout>
